DB_URL=jdbc:log4jdbc:oracle:thin:@oracle:1521/FREEPDB1
DB_USERNAME=jam_user
DB_PASSWORD=jam_pass

REDIS_HOST=redis
REDIS_PORT=6379
    
MAIL_USERNAME=
MAIL_PASSWORD=

JWT_SECRET=

OAUTH_NAVER_CLIENTID=
OAUTH_NAVER_CLIENTSECRET=
OAUTH_NAVER_REDIRETURI=http://localhost:8080/oauth/naver/callback

OAUTH_KAKAO_CLIENTID=
OAUTH_KAKAO_REDIRECTURI=http://localhost:8080/oauth/kakao/callback

LOCATION_CONSUMER_KEY=
LOCATION_CONSUMER_SECRET=
LOCATION_SAVE_PATH=/app/address

AWS_S3_STATIC=ap-northeast-2
AWS_S3_BUCKET=

FILE_UPLOAD_DIR=