# .gitignore

# Ignore Eclipse metadata
.metadata/

# Ignore server configurations
Servers/

# Ignore application properties file
application.properties
application.yml

target/

*.class
*.log
*.tmp
*.bak
*.swp
*~.nib
.metadata
bin/
tmp/
*.iml
*.ipr
*.iws
.classpath
.project
.settings/

# Maven 관련
target/

# OS 관련
.DS_Store
Thumbs.db
