<?xml version="1.0" encoding="UTF-8"?>
<configuration>

	<!-- Appenders -->
	<appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%-5level [%thread] %logger - %msg%n</pattern>
		</encoder>
	</appender>
	
	<appender name="APPFILE" class="ch.qos.logback.core.FileAppender">
		<file>/home/ec2-user/tomcat/logs/app.log</file>
		<append>true</append>
		<encoder>
			<pattern>%-5level [%thread] %logger - %msg%n</pattern>
		</encoder>
	</appender>
	
	<!-- Application Loggers-->
	<logger name="com.jam" level="INFO" />
	    
	<!-- 3rdparty Loggers -->
	<logger name="org.springframework.core" level="INFO" />
	<logger name="org.springframework.beans" level="INFO" />
	<logger name="org.springframework.context" level="INFO" />
	<logger name="org.springframework.web" level="INFO" />

	<logger name="jdbc.sqlonly" level="DEBUG" additivity="false">
		<appender-ref ref="CONSOLE"/>
	</logger>
	
	<logger name="jdbc.sqltiming" level="DEBUG" additivity="false">
		<appender-ref ref="CONSOLE"/>
	</logger>
	
	<logger name="jdbc.connection" level="OFF" />
	<logger name="jdbc.audit" level="OFF" />
	<logger name="jdbc.resultset" level="OFF" />
	<logger name="jdbc.resultsettable" level="OFF" />
	
	<!-- Root Logger -->
	<root level="INFO">
		<appender-ref ref="CONSOLE" />
		<appender-ref ref="APPFILE"/>
	</root>
	
</configuration>
