<?xml version="1.0" encoding="UTF-8"?>

<!-- mybatis 환경설정 파일 : VO에 별칭주기 -->
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias type="com.jam.client.member.vo.MemberVO" alias="member"/>
		
<!--  	<typeAlias type="com.jam.client.community.vo.transactionVO" alias="community"/>
		<typeAlias type="com.jam.client.comReply.vo.comReplyVO" alias="comReply"/>
		
		<typeAlias type="com.jam.client.market.vo.marketVO" alias="market"/>
		<typeAlias type="com.jam.client.marReply.vo.marReplyVO" alias="marReply"/>-->	
		
		
	</typeAliases>
	
	<typeHandlers><!-- java.sql.Date를 java.util.Date 형으로 반환 -->
		<typeHandler javaType="java.sql.Time" handler="org.apache.ibatis.type.DateTypeHandler"/>
		<typeHandler javaType="java.sql.Date" handler="org.apache.ibatis.type.DateTypeHandler"/>
	</typeHandlers>
</configuration>