<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jam.mypage.mapper.MypageMapper">

	<insert id="addFavorite">
		<selectKey keyProperty="favorite_id" resultType="Long" order="BEFORE">
		    SELECT seq_favorite.NEXTVAL FROM dual
		</selectKey>
		INSERT INTO favorite(favorite_id, user_id, board_type, post_id)
		VALUES(#{favorite_id}, #{user_id}, #{board_type}, #{post_id} )
	</insert>
	
	<delete id="deleteFavorite">
		DELETE 
		FROM favorite
		WHERE user_id = #{user_id} 
			AND board_type=#{board_type} 
			AND post_id = #{post_id}
	</delete>

	<!-- 사용자 정보 -->
	<select id="account" resultType="member" parameterType="String">
		SELECT user_id, user_name, address, phone, social_login
		FROM member
		WHERE user_id = #{user_id}
	</select>

</mapper>